In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('with_section.csv')

In [3]:
#天気をダミー変数化する
for i in range(len(df)):
    if '雨' in df['weather'][i]:
        df['weather'][i]='rain'
    elif '雪' in df['weather'][i]:
        df['weather'][i]='rain'
    elif '曇' in df['weather'][i]:
        df['weather'][i]='cloudy'
    elif '屋内' in df['weather'][i]:
        df['weather'][i]='indoor'
    elif '晴' in df['weather'][i]:
        df['weather'][i]='sunny'

C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
temp3=pd.get_dummies(df['weather'])
df['rain']=temp3['rain']
df['cloudy']=temp3['cloudy']
df['indoor']=temp3['indoor']
df['sunny']=temp3['sunny']

In [5]:
df.loc[:,['weather','rain','cloudy','sunny','indoor']]

     weather  rain  cloudy  sunny  indoor
0       rain     1       0      0       0
1     indoor     0       0      0       1
2       rain     1       0      0       0
3       rain     1       0      0       0
4     indoor     0       0      0       1
5      sunny     0       0      1       0
6     cloudy     0       1      0       0
7     cloudy     0       1      0       0
8     cloudy     0       1      0       0
9       rain     1       0      0       0
10      rain     1       0      0       0
11      rain     1       0      0       0
12    cloudy     0       1      0       0
13      rain     1       0      0       0
14      rain     1       0      0       0
15    indoor     0       0      0       1
16      rain     1       0      0       0
17      rain     1       0      0       0
18    cloudy     0       1      0       0
19      rain     1       0      0       0
20     sunny     0       0      1       0
21     sunny     0       0      1       0
22    indoor     0       0      0       1
23     sunny     0       0      1       0
24    cloudy     0       1      0       0
25      rain     1       0      0       0
26      rain     1       0      0       0
27     sunny     0       0      1       0
28      rain     1       0      0       0
29      rain     1       0      0       0
...      ...   ...     ...    ...     ...
1923  cloudy     0       1      0       0
1924    rain     1       0      0       0
1925   sunny     0       0      1       0
1926   sunny     0       0      1       0
1927  cloudy     0       1      0       0
1928    rain     1       0      0       0
1929    rain     1       0      0       0
1930    rain     1       0      0       0
1931    rain     1       0      0       0
1932  cloudy     0       1      0       0
1933    rain     1       0      0       0
1934   sunny     0       0      1       0
1935   sunny     0       0      1       0
1936   sunny     0       0      1       0
1937  cloudy     0       1      0       0
1938  cloudy     0       1      0       0
1939   sunny     0       0      1       0
1940   sunny     0       0      1       0
1941   sunny     0       0      1       0
1942   sunny     0       0      1       0
1943    rain     1       0      0       0
1944    rain     1       0      0       0
1945  cloudy     0       1      0       0
1946  cloudy     0       1      0       0
1947   sunny     0       0      1       0
1948  cloudy     0       1      0       0
1949   sunny     0       0      1       0
1950   sunny     0       0      1       0
1951   sunny     0       0      1       0
1952   sunny     0       0      1       0

[1953 rows x 5 columns]

In [7]:
df.head()

,Unnamed: 0,Unnamed: 0.1,id,y,year,stage,match,gameday,time,home,...,distance,section_num,J1_section_num,J2_section_num,J1_section_val,J2_section_val,rain,cloudy,indoor,sunny
0,0,0,13994,18250,2012,Ｊ１,第１節第１日,03/10(土),14:04,ベガルタ仙台,...,2.339542,1,1,0,8.091,0.0,1,0,0,0
1,1,1,13995,24316,2012,Ｊ１,第１節第１日,03/10(土),14:04,名古屋グランパス,...,1.314406,1,1,0,8.091,0.0,0,0,1,0
2,2,2,13996,17066,2012,Ｊ１,第１節第１日,03/10(土),14:04,ガンバ大阪,...,0.402659,1,1,0,8.091,0.0,1,0,0,0
3,3,3,13997,29603,2012,Ｊ１,第１節第１日,03/10(土),14:06,サンフレッチェ広島,...,7.456944,1,1,0,8.091,0.0,1,0,0,0
4,4,4,13998,25353,2012,Ｊ１,第１節第１日,03/10(土),14:04,コンサドーレ札幌,...,9.004353,1,1,0,8.091,0.0,0,0,1,0

In [8]:
#曜日のダミー変数化
df['fri']=0
df['sat']=0
df['sun']=0
df['holiday']=0
df['weekday']=0



for i in range(len(df)):
    if '金' in df['gameday'][i]:
        df['fri'][i]=1
    elif '土' in df['gameday'][i]:
        df['sat'][i]=1
    elif '日' in df['gameday'][i]:
        df['sun'][i]=1
    elif '祝' in df['gameday'][i]:
        df['holiday'][i]=1
    else:
        df['weekday'][i]=1

C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

In [9]:
df.loc[:,['fri','sat','sun','holiday','weekday']]

      fri  sat  sun  holiday  weekday
0       0    1    0        0        0
1       0    1    0        0        0
2       0    1    0        0        0
3       0    1    0        0        0
4       0    1    0        0        0
5       0    1    0        0        0
6       0    1    0        0        0
7       0    1    0        0        0
8       0    0    1        0        0
9       0    1    0        0        0
10      0    1    0        0        0
11      0    1    0        0        0
12      0    1    0        0        0
13      0    1    0        0        0
14      0    1    0        0        0
15      0    1    0        0        0
16      0    1    0        0        0
17      0    1    0        0        0
18      0    1    0        0        0
19      0    1    0        0        0
20      0    1    0        0        0
21      0    1    0        0        0
22      0    1    0        0        0
23      0    1    0        0        0
24      0    0    1        0        0
25      0    1    0        0        0
26      0    1    0        0        0
27      0    1    0        0        0
28      0    1    0        0        0
29      0    1    0        0        0
...   ...  ...  ...      ...      ...
1923    0    0    1        0        0
1924    0    0    1        0        0
1925    0    0    1        0        0
1926    0    0    1        0        0
1927    0    0    1        0        0
1928    0    0    1        0        0
1929    0    0    1        0        0
1930    0    0    1        0        0
1931    0    0    0        1        0
1932    0    0    0        1        0
1933    0    0    0        1        0
1934    0    0    0        1        0
1935    0    0    1        0        0
1936    0    0    1        0        0
1937    0    0    1        0        0
1938    0    0    1        0        0
1939    0    0    1        0        0
1940    0    0    1        0        0
1941    0    1    0        0        0
1942    0    1    0        0        0
1943    0    1    0        0        0
1944    0    1    0        0        0
1945    0    1    0        0        0
1946    0    1    0        0        0
1947    0    0    1        0        0
1948    0    0    1        0        0
1949    0    0    1        0        0
1950    0    1    0        0        0
1951    0    0    0        0        1
1952    0    0    0        0        1

[1953 rows x 5 columns]

In [12]:
#NHKs:NHK総合で放映されていたら1そうでなかったら0
df['NHKs']=0
for i in range(len(df)):
    if 'ＮＨＫ総合' in df['tv'][i]:
        df['NHKs'][i]=1

C:\Users\Chiaki Furusawa\Anaconda3\envs\py366\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [14]:
len(df[df['NHKs']==1])

17

In [15]:
df.to_csv('with_dummy.csv')